.App {
  text-align: center;  
}

.loading { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(70px + 2vmin);
  color: blue; 
}

.App-header {  
  background-image: url(0d90cc54f3566d5473436701711945ed.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;   
}

.App-header > div > h1 {
  color: #FCDAB7;
}

.App-header > div > h2 > span {
  color: #FCDAB7;
}

.App-header > div > h2 {
  color: #1c5496;
}

.weather {  
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: space-around;
}

.weather > div:first-child {  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 50px;  
}

.weather > div:last-child { 
  color: #FCDAB7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weather > div > h3 > span { 
  color: #1c5496;
}

.weather > div:first-child > h3 { 
  color: #FCDAB7;
  font-size: 2rem;
}

.weather > div > img {
  width: 100px;
}

.App-header > button {
  margin-top: 30px;
  padding: 20px;
  border-radius: 7px;
  font-size: 1.1rem;
  color: #FCDAB7;  
  background-color: #132b48;
  border: 3px solid #FCDAB7;
  cursor: pointer;
}

.App-header > button:hover {
  background-color: #1c5496;
}
